@font-face {
  font-family: "Poppins";
  font-style: medium;
  font-weight: medium;
  src: url("./Poppins/Poppins-Medium.ttf"); /* IE9 Compat Modes */
  src: local(""), url("./Poppins/Poppins-Medium.ttf") format("truetype"); /* cross platform */
}
